<div>
    <table id="linkTable">
        <tr>
            <td> <a href="/createUser">Create an account</a>
            </td>
            <td> <a href="/login">Login</a>
            </td>
            <td> <a href="/message">Post a message</a>
            </td>
        </tr>
    </table>
</div>